{% extends "layout.html" %}

{% block title %}
Cleaning Tag Checker
{% endblock %}

{% block headline %}
{{title}}
{% endblock %}

{% block content%}
<h1>Select New JIS symbols</h1>
<p>select the mark you want to see and tap !!</p>

<a href="#modal-21">
  <img class="tag" src="/static/ensosanso-hyouhaku.gif">
</a>
<a href="#modal-22">
  <img class="tag" src="/static/ensosanso-hyouhaku-ng.gif">
</a>
<a href="#modal-23">
  <img class="tag" src="/static/fdry.gif">
</a>
<a href="#modal-24">
  <img class="tag" src="/static/fdryw.gif">
</a>
<a href="#modal-25">
  <img class="tag" src="/static/hand40c.gif">
</a>
<a href="#modal-26">
  <img class="tag" src="/static/hiraboshi-hikage.gif">
</a>
<a href="#modal-27">
  <img class="tag" src="/static/hiraboshi-hikagenure.gif">
</a>
<a href="#modal-28">
  <img class="tag" src="/static/hiraboshi-nure.gif">
</a>
<a href="#modal-29">
  <img class="tag" src="/static/hiraboshi.gif">
</a>
<a href="#modal-30">
  <img class="tag" src="/static/ng.gif">
</a>
<a href="#modal-31">
  <img class="tag" src="/static/pfdry.gif">
</a>
<a href="#modal-32">
  <img class="tag" src="/static/pfdryw.gif">
</a>
<a href="#modal-33">
  <img class="tag" src="/static/bleech_o.gif">
</a>
<a href="#modal-34">
  <img class="tag" src="/static/tanb-ng.gif">
</a>
<a href="#modal-35">
  <img class="tag" src="/static/tanb60c.gif">
</a>
<a href="#modal-36">
  <img class="tag" src="/static/tanb80c.gif">
</a>
<a href="#modal-37">
  <img class="tag" src="/static/turiboshi-hikage.gif">
</a>
<a href="#modal-38">
  <img class="tag" src="/static/turiboshi-nure.gif">
</a>
<a href="#modal-39">
  <img class="tag" src="/static/turiboshi-nurehikage.gif">
</a>
<a href="#modal-40">
  <img class="tag" src="/static/turiboshi.gif">
</a>
<div>
  <a class="btn btn--orange btn--radius" href="/en_list">previous page</a>
</div>

<div class="modal-wrapper" id="modal-21">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/ensosanso-hyouhaku.gif" width="30%">
      <p>Can be bleached with chlorine and oxygen bleach</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-22">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/ensosanso-hyouhaku-ng.gif" width="30%">
      <p>Chlorine and oxygen bleach use prohibited.</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-23">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/fdry.gif" width="30%">
      <p>May be dry-cleaned  with a petroleum-based substance.</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-24">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/fdryw.gif" width="30%">
      <p>May be dry-cleaned in a light-operating machine with a petroleum-based substance.</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-25">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/hand40c.gif" width="30%">
      <p>Can wash in water up to 40°C, by hand only.(do not use washing machine.)</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
<div class="modal-wrapper" id="modal-26">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/hiraboshi-hikage.gif" width="30%">
      <p>Let dry on flat surface in the shade.</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-27">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/hiraboshi-hikagenure.gif" width="30%">
      <p>Make clothes of the wet state dry in a flat surface in the shade.</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-28">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/hiraboshi-nure.gif" width="30%">
      <p>Make clothes of the wet state dry in a flat surface.</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-29">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/hiraboshi.gif" width="30%">
      <p>Let dry on flat surface.</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-30">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/ng.gif" width="30%">
      <p>Can not wash at home.</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-31">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/pfdry.gif" width="30%">
      <p>May be dry-cleaned in a light-operating machine, with tetrachloroethylene or a petoroleum-based substance.</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-32">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/pfdryw.gif" width="30%">
      <p>May be dry-cleaned with tetrachloroethylene or a petroleum-based substance.</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-33">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/bleech_o.gif" width="30%">
      <p>Can use the oxygen bleach, but the chlorine bleach is prohibited.</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-34">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/tanb-ng.gif" width="30%">
      <p>Do not tumble dry.</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-35">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/tanb60c.gif" width="30%">
      <p>Tumble dry processing by the low temperature can be done.(Exhaust temperature maximum 60°C.</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-36">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/tanb80c.gif" width="30%">
      <p>Tumble dry processing can be done.(Exhausttemperature maximum 80°C.</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-37">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/turiboshi-hikage.gif" width="30%">
      <p>Dry by hanging in the shade.</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-38">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/turiboshi-nure.gif" width="30%">
      <p>Hung wet clothed and dry.</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-39">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/turiboshi-nurehikage.gif" width="30%">
      <p>Hung wet clothes and dry in the shade.</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-40">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/turiboshi.gif" width="30%">
      <p>Dry by hanging.</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
{% endblock %}