{% extends "layout.html" %}

{% block title %}
Cleaning Tag Checker
{% endblock %}

{% block headline %}
{{title}}
{% endblock %}

{% block content%}
<h1>洗濯表示選択</h1>
<p>マークをタップしてね!!</p>

<a href="#modal-01">
  <img class="tag" src="/static/30c.gif">
</a>
<a href="#modal-02">
  <img class="tag" src="/static/30cw.gif">
</a>
<a href="#modal-03">
  <img class="tag" src="/static/30cww.gif">
</a>
<a href="#modal-04">
  <img class="tag" src="/static/40c.gif">
</a>
<a href="#modal-05">
  <img class="tag" src="/static/40cw.gif">
</a>
<a href="#modal-06">
  <img class="tag" src="/static/40cww.gif">
</a>
<a href="#modal-07">
  <img class="tag" src="/static/50c.gif">
</a>
<a href="#modal-08">
  <img class="tag" src="/static/50cw.gif">
</a>
<a href="#modal-09">
  <img class="tag" src="/static/60c.gif">
</a>
<a href="#modal-10">
  <img class="tag" src="/static/70c.gif">
</a>
<a href="#modal-11">
  <img class="tag" src="/static/95c.gif">
</a>
<a href="#modal-12">
  <img class="tag" src="/static/airon-ng.gif">
</a>
<a href="#modal-13">
  <img class="tag" src="/static/airon110c.gif">
</a>
<a href="#modal-14">
  <img class="tag" src="/static/airon150c.gif">
</a>
<a href="#modal-15">
  <img class="tag" src="/static/airon200c.gif">
</a>
<a href="#modal-16">
  <img class="tag" src="/static/cwet.gif">
</a>
<a href="#modal-17">
  <img class="tag" src="/static/cwet-ng.gif">
</a>
<a href="#modal-18">
  <img class="tag" src="/static/cwetw.gif">
</a>
<a href="#modal-19">
  <img class="tag" src="/static/cwetww.gif">
</a>
<a href="#modal-20">
  <img class="tag" src="/static/dry-ng.gif">
</a>
<div>
  <a class="btn btn--orange btn--radius" href="/jp_list_2">次へ</a>
</div>
<div>
  <a class="btn btn--orange btn--radius" href="/">戻る</a>
</div>



<div class="modal-wrapper" id="modal-01">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/30c.gif" width="30%">
      <p>水温30℃を限度に、洗濯機で洗えます。</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-02">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/30cw.gif" width="30%">
      <p>水温30℃を限度に、洗濯機で弱い洗濯ができます。</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-03">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/30cww.gif" width="30%">
      <p>水温30℃を限度に、洗濯機で非常に弱い洗濯ができます。</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-04">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/40c.gif" width="30%">
      <p>水温40℃を限度に、洗濯機で洗えます。</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-05">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/40cw.gif" width="30%">
      <p>水温40℃を限度に、洗濯機で弱い洗濯ができます。</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-06">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/40cww.gif" width="30%">
      <p>水温40℃を限度に、洗濯機で非常に弱い洗濯ができます。</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-07">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/50c.gif" width="30%">
      <p>水温50℃を限度に、洗濯機で洗えます。</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-08">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/50cw.gif" width="30%">
      <p>水温50℃を限度に、洗濯機で弱い洗濯ができます。</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-09">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/60c.gif" width="30%">
      <p>水温60℃を限度に、洗濯機で洗えます。</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-10">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/70c.gif" width="30%">
      <p>水温70℃を限度に、洗濯機で洗えます。</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-11">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/95c.gif" width="30%">
      <p>水温95℃を限度に、洗濯機で洗えます。</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-12">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/airon-ng.gif" width="30%">
      <p>アイロンは使えません。</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-13">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/airon110c.gif" width="30%">
      <p>110℃を限度に、スチームなしでアイロンが使えます。</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-14">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/airon150c.gif" width="30%">
      <p>150℃を限度に、アイロンが使えます。</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-15">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/airon200c.gif" width="30%">
      <p>200℃を限度に、アイロンが使えます。</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-16">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/cwet.gif" width="30%">
      <p>ウエットクリーニングができます。</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-17">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/cwet-ng.gif" width="30%">
      <p>ウエットクリーニングはできません。</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-18">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/cwetw.gif" width="30%">
      <p>弱い操作による、ウエットクリーニングができます。</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-19">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/cwetww.gif" width="30%">
      <p>非常に弱い操作による、ウエットクリーニングができます。</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>
<div class="modal-wrapper" id="modal-20">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="/static/dry-ng.gif" width="30%">
      <p>ドライクリーニングはできません。</p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>

{% endblock %}